<footer class="site-footer h-card">
  <!--Email subscription collection-->
  <h3> Subscribe </h3>
   <script type="text/javascript">var submitted=false;</script>
    <iframe
           name="hidden_iframe"
           id="hidden_iframe"
           style="display:none;"
           onload="if(submitted) {window.location='{{ "/subscribe-confirmation.html" | relative_url }}'}">
    </iframe>
  <form action="https://docs.google.com/forms/d/e/1FAIpQLSd7h96k8pJalJf5hCkjFCM1k0rDUV3UBrcN7xkLe4firyHvDA/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">
    <input class="email" type="text" name="entry.1909253176" value="" placeholder="Email Address">
    <input class="submit" type="submit" value="SIGN UP">
  </form>

  <p> See more on <a href="https://instagram.com/clhewitt"> Instagram. </a> </p>
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>
  </div>

</footer>
