<footer class="site-footer h-card">
  <p> See more on <a href="https://instagram.com/clhewitt"> Instagram. </a> </p>
  <script src="http://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/1c53681c42e552949ab7662de5dcaa87.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>
  </div>

</footer>
