<header role="banner"
        {%- if page.title-style-header -%}
          class="site-header title-style-header"
        {%- else -%}
          class="site-header"
        {%- endif -%}
          >
  <link rel="stylesheet" href="https://use.typekit.net/vmt3bmn.css">

  <div class="header-wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="logo" rel="author" href="{{ "/" | relative_url }}">
        <img src="{{ site.baseurl }}/assets/img/logo.png" alt="{{ site.title | escape }}">
    </a>
    {%- if page_paths -%}
      <nav class="site-nav">
        <div class="trigger">
          <a class="page-link" href="{{ site.baseurl }}/about/">About</a>
          <a class="page-link" href="{{ site.baseurl }}/route/">Route</a>
          <a class="page-link" href="{{ site.baseurl }}/contact/">Contact</a>
        </div>
      </nav>
    {%- endif -%}
  </div>
</header>
