---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="title-container">
    <img src={{ page.title-image | relative_url }} alt={{ page.title }}>
    {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}
    <div class="title-text">
      <div class="title"> {{ page.title | escape }} </div>
      <div class="date"> {{ page.date | date: date_format }} </div>
    </div>
  </div>

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline"></h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      </time>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if page.author -%}
    <div itemprop="author" itemscope itemtype="http://schema.org/Person"><div class="p-author h-card" itemprop="name">{{ page.author }}</div></div>
  {%- endif -%}</p>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
